/* style.css */
body {
    font-family: Georgia, sans-serif;
    background-color: #04dcf8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #01e6ff;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: 500;
    display: block;
    margin: 10px auto;
}
a {
    color: #ff6347;
}

a:hover {
    color: #ff4500;
}

a:visited {
    color: #800080;
}
